<entry>	
	<title><%= company.name %></title>
	<content type="html">
	<%= "<h2>#{company.name}</h2>" %>

	<% users.each do |user| %>
		<%= "<div class='user'><strong>#{user.Facebook[:extra][:raw_info][:name]}</strong>" %>
		<%= "<img src='//graph.facebook.com/#{user.Facebook[:extra][:raw_info][:username]}/picture' />" %>
		<%= "</div>" %>
	<% end %>
	</content>
	<georss:point><%=latitude%> <%=longitude%></georss:point>
	<id>tag:internlunch.herokuapp.com,2012-06-10:/<%= company.id %></id>
	<updated><%= company.updated_at.xmlschema %></updated>
	<author>
		<name><%= company.name %></name>
		<uri>http://internlunch.herokuapp.com/company/<%= company.id %></uri>
	</author>
</entry>
